# Настройки для фронтенда (в React переменные ВСЕГДА С ПРЕФИКСОМ "REACT_APP_")

# Ссылка на бэкенд для фронтенда
# В Development: используйте локальный URL с портом (http://<host>:<BACKEND_HOST_PORT>)
# В Production: создайте Secret в CI/CD (без косой черты в конце) и при изменении пересоберите образ
REACT_APP_BACKEND_URL=http://localhost:8000
# username (имя пользователя) Telegram бота
REACT_APP_TELEGRAM_BOT_USERNAME=test123

# Логин Dockerhub, в случае, если мы будем билдить 
# контейнер и отправлять в Dockerhub вручную, 
# а не через Github CI/CD
DOCKER_HUB_USER=sample_username